body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
	font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.weather-header {
    font-size: 1.5em;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    gap: 10px;
}

.main-icon {
    align-self: flex-end;
    margin-left: auto;
}

.weather-forecast {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.weather-forecast > div {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.img-container {
    flex: 1;
}

.img-container {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}