body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
	font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

main {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.weather-header {
    font-size: 1.5em;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    gap: 10px;
    height: 35vh;
}

.main-icon {
    align-self: flex-end;
    margin-left: auto;
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
}

.weather-forecast {
    min-height: 0;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.weather-forecast > div {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.icon-container {
    flex: 1;
    min-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.weather-icon {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}
.time-heading {
    text-align: center;
    height: 10%;
}
.temperature-text {
    text-align: center;
    height: 10%;
}