body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
	font-family: 'Roboto', sans-serif;
}

main {
    font-size: 28px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-template-columns: repeat(4, minmax(0, 1fr));
	gap: 8px;
    padding: 8px;
    box-sizing: border-box;
	background-color: rgb(236, 236, 236);
}

main > div {
    height: 100%;
	box-sizing: border-box;
	border-radius: 10px;
	box-shadow: 2px 2px 4px 1px rgba(1,1,1,0.5);
	background-color: white;
}

.top_header {
    height: 20%;
	background-color: #0D293B;
	color: white;
	border-radius: 10px;
	padding: 5px;
	text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bus_list {
    height: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    gap: 12px;
	padding: 12px;
    overflow: hidden;
}

.bus_num {
    background-color: black;
    color: white;
    width: 2em;
    padding: 0.2em 0;
    display: inline-block;
    text-align: center;
    border-radius: 0.5em;
    text-transform: uppercase;
    font-weight: bold;
}

.bus_num.type_bus {
    background-color: #0073ac;
}
.bus_num.type_expressbus {
    background-color: #037d08;
}
.bus_num.type_trol {
    background-color: #df3032;
}

.bus_list > div {
    white-space: nowrap;
    overflow: hidden;
    width: calc(50% - 6px);
}